<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="ZiM0VrFKL8Ly73XGnlj89kAH3oJuakmLsi5_ABs-T-0" />
  <meta name="naver-site-verification" content="c08a9029aa340f3917a907da60427411ec384f5e" />
  <title>아주뇌졸중중개연구실</title>
  <link rel="icon" href="/images/favicon.ico">
  <link href="/css/font.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/https.js"></script>
</head>
<body>
  <div class="flex-container">
    <%- include('nav.ejs') %>
    <div class="main">
      <div class="introduction">
        <div id="main-image">
          <div id="ment">
            <h2>
              <span>A</span>jou<br>
              <span>S</span>troke<br>
              <span>T</span>ranslation<br>
              <span>L</span>ab.
            </h2>
          </div>
          <div class="scroll-container">
            <div id="scroll_test">Scroll</div>
            <img src="/images/scroll_down.png">
          </div>
        </div>
        
      </div>
      <div class="menu-box">
        <div class="menu-box-2">
          <div id="box1" onclick="location.href='#box3'">
            <img src="/images/page1.png"><br>
            실험실 소개
          </div>
          <div id="box2" onclick="location.href='/prof'">
            <img src="/images/page2.png"><br>
            지도교수
          </div>
        </div>
        <div class="menu-box-2" onclick="location.href='/research'">
          <div id="box3">
            <img src="/images/page3.png"><br>
            논문
          </div>
          <div id="box4" onclick="location.href='/info'">
            <img src="/images/page4.png"><br>
            입학 및 졸업요건
          </div>
        </div>
      </div>
      <div id="astl-1">
        <a id="lab-introduction"></a>
        <h2>Ajou Stroke Translation Lab (ASTL)</h2>
        <p>
          아주뇌졸중중개연구실은 신경생물학적 전문지식을 기반으로, 뇌혈관 질환의 진단 및 치료를 위해 활발히 연구하고 있습니다.<br>
          연구실에는 해당분야의 기량이 뛰어난 연구원들이 함께합니다.
        </p>
        <img src="/images/ajou_group_photo_re.jpg" alt="AJOU university group photo" width="100%">
      </div>
      <div id="astl-2">
        <h2>아주뇌졸중중개연구실 프로젝트</h2>
        <p>
          신경계는 인간의 모든 활동을 지배하는 기관으로 이에 이상이 생길 경우, 다양한 증상을 동반한 심각한 질환을 초래하게 됩니다. <br>
          아주뇌졸중중개 연구실은 신경학적 기능 및 증상에 대한 이해를 기반으로 뇌혈관 질환(뇌졸중, 뇌출혈, 모야모야 병 등) 
          환자의 진단 및 치료를 위한 활발한 교육 및 연구를 진행 중입니다.
        </p>
      </div>
      <div id="astl-3">
        <h2>기초-임상 중개 및 기술 연구<br>(Bench-to-bed translational technological research)</h2>
        <p>
          아주뇌졸중중개연구실은 기초-임상 중개 및 기술 연구를 목표로 하여
			    임상 연구, 동물기반 연구, 세포기반 연구, 바이오 기술 복합연구를 진행하고 있습니다.
        </p>
        <div class="research-contain">
          <div>
            <div class="research_image_contain">
              <img src="/images/sub1_1_2.jpg">
            </div>
            <div>
              <strong>Clinical research<br>(임상 연구)</strong>
              <p>
                · 진료현장에서의 뇌혈관 질환 치료 및 예방에 대한 아이디어 확보<br>
                · 기초, 동물 기반의 연구를 실제 환자에 적용<br>
                · 제약회사들과의 협업을 통해 효율적인 임상 연구 진행
              </p>
            </div>
          </div>
          <div>
            <div class="research_image_contain">
              <img src="/images/sub1_1_3.jpg">
            </div>
            <div>
              <strong>Animal-based research<br>(동물기반 연구)</strong>
              <p>
                · 임상기반 뇌혈관질환 모델 제작<br>
                · 뇌혈관질환 동물모델에서의 발병기전 연구<br>
                · 약물 처리 혹은 저체온 치료를 적용한 치료 기전 연구
              </p>
            </div>
          </div>
          <div>
            <div class="research_image_contain">
              <img src="/images/sub1_1_4.jpg">
            </div>
            <div>
              <strong>Cell-based research<br>(세포기반 연구)</strong>
              <p>
                · 모야모야 병의 취약유전자 연구<br>
                · 신생혈관유도 약물에 대한 혈관내피세포 기능 확인<br>
                · 분자 수준에서의 분석 연구
              </p>
            </div>
          </div>
          <div>
            <div class="research_image_contain">
              <img src="/images/sub1_1_5.jpg">
            </div>
            <div>
              <strong>BT-IT combined research<br>(바이오 기술 복합 연구)</strong>
              <p>
                · 뇌혈관 질환의 임상 데이터 기반의 인공지능을 활용한 질병 예측모델 연구<br>(융합의과학과 공동연구)
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="astl-4">
        <p>
          아주뇌졸중중개연구실은 신경생물학적 전문지식을 기반으로,<br>
          <strong>뇌혈관 질환의 진단 및 치료를 위해 활발히 연구합니다.</strong>
        </p>
      </div>
    </div>
    <%- include('footer.ejs') %>
  </div>
</body>
</html>
