<div class="header">
  <div class="upper-nav">
    <div class="upper-nav-item">
      <a href="https://www.ajou.ac.kr/kr/index.do" target="_blank">아주대학교</a>
    </div>
    <div class="upper-nav-item">
      <a href="https://www.ajoumc.or.kr/medicine/" target="_blank">의과대학</a>
    </div>
    <div class="upper-nav-item">
      <a href="https://www.ajoumc.or.kr/biomed/" target="_blank">의생명과학과</a>
    </div>
    <div class="upper-nav-item">
      <a href="https://www.ajoumc.or.kr/alchemist/" target="_blank">융합의과학과</a>
    </div>
    <div class="upper-nav-item">
      <a href="https://mportal.ajou.ac.kr/main.do" target="_blank">AIMS2</a>
    </div>
  </div>
  <div class="lower-nav">
    <div class="lower-nav-logo">
      <a href="/"><img src="/images/logo.png" alt="" width="200px"></a> 
    </div>
    <div class="wide-lower-nav">
      <a href="/prof">지도교수</a>
      <a href="/research">논문</a>
      <a href="/members">구성원</a>
      <a href="/gallery/1">갤러리</a>
      <a href="/info">입학 및 졸업요건</a>
      <a href="/notice">공지사항</a>
      <a href="/login">ADMIN</a>
    </div>
    <div class="lower-nav-button">
      <button onclick="menucontrol()" class="menubutton" style="font-size: 25px;">☰</button>
    </div>
  </div>
</div>
<!-- class 이용해서 hidden바 설계 다시할것 -->
<div class="hidden-bar" style="display: none;">
  <div id="hidden-bar-item">
    <a href="/prof">지도교수</a>
  </div >
  <div id="hidden-bar-item">
    <a href="/research">논문</a>
  </div>
  <div id="hidden-bar-item">
    <a href="/members">구성원</a>
  </div>
  <div id="hidden-bar-item">
    <a href="/gallery/1">갤러리</a>
  </div>
  <div id="hidden-bar-item">
    <a href="/info">입학 및 졸업요건</a>
  </div>
  <div id="hidden-bar-item">
    <a href="/notice">공지사항</a>
  </div>
  <div id="hidden-bar-item">
    <a href="/login">ADMIN</a>
  </div>
</div>
<link rel="stylesheet" href="/css/nav.css">
<script src="/js/nav.js"></script>