@media (max-width: 800px) {
  #profile-pic {
    width: 40%;
  }
  html {
    font-family: 'nsl', 'nseb', 'Malgun Gothic';
  }
  .page-title {
    height: 150px;
    background-image: url('/images/bg_sub1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    opacity: 100%;
    animation: showtitle 1s;
  }
  @keyframes showtitle {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
  }
  .page-title p {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    margin: 0;
    font-size: 24px;
    opacity: 100%;
  }
  .profile {
    display: flex;
    flex-direction: row;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-top: 80px;
  }
  #profile-pic img {
    width: 100%;
  }
  #profile-ment {
    padding-left: 4vw;
  }
  #profile-ment > div > h2 {
    margin-top: 0;
  }
  #profile-ment > div > h3 {
    margin-top: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  #profile-ment > div > h2::before {
    width: 25px;
    height: 4px;
    background: linear-gradient(135deg, rgb(39 118 202) 0%,rgb(30 49 189) 100%);
    content: "";
    display: block;
    margin-bottom: 20px;
  }
  #profile-ment > div > ul {
    list-style: none;
    padding-left: 0;
  }
  #profile-ment > div > ul > li{
    word-break: break-all;
    line-height: 200%;
  }
  .wrap {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 30px;
  }
  .scroll_wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  #scroll-element {
    display: flex;
    width: 25%;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
  }
  #scroll-element:hover {
    background-image: linear-gradient(to top left, rgb(116, 33, 211), rgb(52, 52, 227));
    color: white;
  }
  #scroll-text {
    font-size: 15px;
  }
  .research-list-container {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 20px;
    border-top: 1px solid #0024b6;
  }
  .research-container {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    border-bottom: 1px solid #e5e5e5;
  }
  .main {
    padding-bottom: 100px;
  }
  #prof_list_container1, #prof_list_container2, #prof_list_container3, #prof_list_container4 {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 20px;
    border-top: 1px solid #0024b6;
    font-size: 14px;
  }
  .current_container {
    padding-top: 20px;
  }
  .current {
    color: #0024b6;
    padding-bottom: 5px;
  }
  .former {
    color: #0024b6;
    padding-bottom: 5px;
    padding-top: 30px;
  }
  .prof_item {
    border-bottom: 1px solid #eae9e9;
    padding-top: 10px;
  }
  .prof_item div {
    padding-bottom: 5px;
  }
  .tab-off {
    display: none;
  }
  .tab-on {
    display: block;
  }
  .btn-on {
    background-image: linear-gradient(to top left, rgb(116, 33, 211), rgb(52, 52, 227));
    color: white;
  }
  .btn-off {
    background-color: #f7f3f3;
    color: #838282;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  #profile-pic {
    width: 250px;
  }
  html {
    font-family: 'nsl', 'nseb', 'Malgun Gothic';
  }
  .page-title {
    height: 150px;
    background-image: url('/images/bg_sub1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    opacity: 100%;
    animation: showtitle 1s;
  }
  @keyframes showtitle {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
  }
  .page-title p {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    margin: 0;
    font-size: 24px;
    opacity: 100%;
  }
  .profile {
    display: flex;
    flex-direction: row;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-top: 80px;
  }
  #profile-pic img {
    width: 100%;
  }
  #profile-ment {
    padding-left: 4vw;
  }
  #profile-ment > div > h2 {
    margin-top: 0;
  }
  #profile-ment > div > h3 {
    margin-top: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  #profile-ment > div > h2::before {
    width: 25px;
    height: 4px;
    background: linear-gradient(135deg, rgb(39 118 202) 0%,rgb(30 49 189) 100%);
    content: "";
    display: block;
    margin-bottom: 20px;
  }
  #profile-ment > div > ul {
    list-style: none;
    padding-left: 0;
  }
  #profile-ment > div > ul > li{
    word-break: break-all;
    line-height: 200%;
  }
  .wrap {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 30px;
  }
  .scroll_wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  #scroll-element {
    display: flex;
    width: 25%;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
  }
  #scroll-element:hover {
    background-image: linear-gradient(to top left, rgb(116, 33, 211), rgb(52, 52, 227));
    color: white;
  }
  #scroll-text {
    font-size: 15px;
  }
  .research-list-container {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 20px;
    border-top: 1px solid #0024b6;
  }
  .research-container {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    border-bottom: 1px solid #e5e5e5;
  }
  .main {
    padding-bottom: 100px;
  }
  #prof_list_container1, #prof_list_container2, #prof_list_container3, #prof_list_container4 {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 20px;
    border-top: 1px solid #0024b6;
    font-size: 14px;
  }
  .current_container {
    padding-top: 20px;
  }
  .current {
    color: #0024b6;
    padding-bottom: 5px;
  }
  .former {
    color: #0024b6;
    padding-bottom: 5px;
    padding-top: 30px;
  }
  .prof_item {
    border-bottom: 1px solid #eae9e9;
    padding-top: 10px;
  }
  .prof_item div {
    padding-bottom: 5px;
  }
  .tab-off {
    display: none;
  }
  .tab-on {
    display: block;
  }
  .btn-on {
    background-image: linear-gradient(to top left, rgb(116, 33, 211), rgb(52, 52, 227));
    color: white;
  }
  .btn-off {
    background-color: #f7f3f3;
    color: #838282;
  }
}
@media (min-width: 1200px) {
  #profile-pic {
    width: 250px;
  }
  html {
    font-family: 'nsl', 'nseb', 'Malgun Gothic';
  }
  .page-title {
    height: 150px;
    background-image: url('/images/bg_sub1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    opacity: 100%;
    animation: showtitle 1s;
  }
  @keyframes showtitle {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
  }
  .page-title p {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    margin: 0;
    font-size: 24px;
    opacity: 100%;
  }
  .profile {
    display: flex;
    flex-direction: row;
    margin-left: 8vw;
    margin-right: 8vw;
    padding-top: 80px;
  }
  #profile-pic img {
    width: 100%;
  }
  #profile-ment {
    padding-left: 4vw;
  }
  #profile-ment > div > h2 {
    margin-top: 0;
    font-size: calc(1vw + 15px);
  }
  #profile-ment > div > h3 {
    margin-top: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  #profile-ment > div > h2::before {
    width: 25px;
    height: 4px;
    background: linear-gradient(135deg, rgb(39 118 202) 0%,rgb(30 49 189) 100%);
    content: "";
    display: block;
    margin-bottom: 20px;
  }
  #profile-ment > div > ul {
    list-style: none;
    padding-left: 0;
  }
  #profile-ment > div > ul > li{
    word-break: break-all;
    line-height: 200%;
    font-size: 17px;
  }
  .wrap {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 30px;
  }
  .scroll_wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  #scroll-element {
    display: flex;
    width: 25%;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
  }
  #scroll-element:hover {
    background-image: linear-gradient(to top left, rgb(116, 33, 211), rgb(52, 52, 227));
    color: white;
  }
  #scroll-text {
    font-size: 15px;
  }
  .research-list-container {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 20px;
    border-top: 1px solid #0024b6;
  }
  .research-container {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    border-bottom: 1px solid #e5e5e5;
  }
  .main {
    padding-bottom: 100px;
  }
  #prof_list_container1, #prof_list_container2, #prof_list_container3, #prof_list_container4 {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 20px;
    border-top: 1px solid #0024b6;
  }
  .current_container {
    padding-top: 20px;
  }
  .current {
    color: #0024b6;
    padding-bottom: 5px;
    font-size: 18px;
  }
  .former {
    color: #0024b6;
    padding-bottom: 5px;
    padding-top: 30px;
  }
  .prof_item {
    border-bottom: 1px solid #eae9e9;
    padding-top: 10px;
  }
  .prof_item div {
    padding-bottom: 5px;
    font-size: 17px;
  }
  .tab-off {
    display: none;
  }
  .tab-on {
    display: block;
  }
  .btn-on {
    background-image: linear-gradient(to top left, rgb(116, 33, 211), rgb(52, 52, 227));
    color: white;
  }
  .btn-off {
    background-color: #f7f3f3;
    color: #838282;
  }
}